@model MVC_TASK.Models.EmployeeModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Log</title>
    <link href="~/content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <button class="btn"> @Html.ActionLink("User Login", "Login")</button>
    <button class="btn"> @Html.ActionLink("Admin Login", "AdminLogin")</button>
</body>
</html>
