
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Success</title>

</head>
<body>
    <div>
        <h2>Employee Registration has been created successfully...!</h2>
        <hr />
       <button class="btn"> @Html.ActionLink("Login Here", "Login")</button>
        &nbsp;
       <button class="btn"> @Html.ActionLink("Add Employee", "Register")</button>
    </div>
</body>
</html>
